# Environment variables for the waste-carriers-front-office.
#
# Many of these variables have suitable defaults built-in to the application,
# but we list them here for completeness and ease-of-editing.

# MongoDb config
# Only required when running the app in production. Defaults are used in
# development and test, but you can still override them using these env vars
export WCRS_REGSDB_URI="mongodb://mongoUser:password1234@localhost:27017/waste-carriers"
export WCRS_USERSDB_URI="mongodb://mongoUser:password1234@localhost:27017/waste-carriers-users"

export WCRS_TEST_REGSDB_URI="mongodb://mongoUser:password1234@localhost:27017/waste-carriers-test"
export WCRS_TEST_USERSDB_URI="mongodb://mongoUser:password1234@localhost:27017/waste-carriers-users-test"

# Errbit config
WCRS_USE_AIRBRAKE=true
WCRS_AIRBRAKE_URL='https://my-errbit-instance.com'
WCRS_BACKOFFICE_AIRBRAKE_PROJECT_KEY=longvaluefullofnumbersandlettersinlowercase

# Only required when running the app in production. A default is used in
# development and test
SECRET_KEY_BASE=somescarylongvaluefullofnumbersandlettersinbothupperandlowercase

# Google Analytics code for tracking user journeys
GOOGLE_TAGMANAGER_ID='GTM-M9JG6VM'

# Email settings
WCRS_EMAIL_HOST=
WCRS_EMAIL_PORT=
WCRS_EMAIL_USERNAME=""
WCRS_EMAIL_PASSWORD=""
WCRS_EMAIL_TEST_ADDRESS=""
WCRS_EMAIL_SERVICE_EMAIL=""
