<% content_for :title, "Privacy policy" %>

<div class="text">
  <h1 class="heading-large">Privacy policy</h1>
  <p>The Waste Carrier service is run by the Environment Agency. We will handle the information you give us according to the Environment Agency <a rel="external" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter.</a></p>
  <p>We will use the personal information you give us to keep the public register of waste carriers up to date. Only your organisation name and address will appear on the public register.</p>
  <p>We may also use the personal information you give us to:</p>
  <ul class="list list-bullet">
    <li>contact you about our customer service</li>
    <li>send you environmental information, or consult you on environmental issues</li>
    <li>carry out research on environmental issues</li>
    <li>prevent someone from breaking environmental laws, or investigate and take action when someone may have broken environmental laws</li>
    <li>respond to freedom of information requests (if data protection laws let us)</li>
  </ul>
  <p>We may pass on your personal information to our agents or representatives so that they can do any of these things on our behalf. And we may share your personal information with other organisations if the law says we have to do so.</p>
</div>
