.user-info {
  border-top: 10px solid $govuk-blue;
}

.user-info h2 {
  margin-top: 1em;
}

.user-info span {
  font-weight: bold;
}

.registration-list {
  border-top: 10px solid $border-colour;
  padding: 1.5em 0;
}

.registration-list .registration-details li {
  padding-bottom: 1em;
}

@media (min-width: 642px) {
  .registration-list .registration-details li:last-child {
    padding-bottom: 0;
  }
}

.registration-list span {
  font-weight: bold;
  display: block;
}
