.user-info {
  border-top: 10px solid $govuk-blue;
    h2 {
      margin-top: 1em;
    }
    span {
      font-weight: bold;
    }
  }

.registration-list .registration-details li {
  padding-bottom: 1em;
}

@media (min-width: 642px) {
  .registration-list .registration-details li:last-child {
    padding-bottom: 0;
  }
}

.registration-list span {
  display: block;
  font-weight: bold;
}
