// From GDS's alphagov/govuk_frontend_toolkit
@import 'colours';
@import 'grid_layout';
@import 'typography';
@import 'shims';

@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';

// From GDS's alphagov/govuk_elements
@import 'elements/helpers';
@import 'elements/reset';

// Base (unclassed HTML elements)
// These are predefined by govuk_template
// If you're not using govuk_template, uncomment the line below.
// HTML elements, set by the GOV.UK template
// @import 'elements/base'

@import 'elements/buttons';
@import 'elements/components';
@import 'elements/details';
@import 'elements/elements-typography';
@import 'elements/forms';
@import 'elements/forms/form-multiple-choice';
@import 'elements/forms/form-date';
@import 'elements/forms/form-validation';
@import 'elements/icons';
@import 'elements/layout';
@import 'elements/lists';
@import 'elements/panels';
@import 'elements/phase-banner';
@import 'elements/tables';

// Custom styles
@import 'partials/addresses';
@import 'partials/dates';
@import 'partials/footer';
@import 'partials/people';

main {
  max-width: 1080px;
}

.strong {
  font-weight: bold;
}

.text img {
  max-width: 100%;
}
